@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
 

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.img{
    height: 300px;
}

body{
    padding-left: 20%;
    padding-right: 20%;

    


}

#todo-list{
    display: flex;
    justify-content: center;

    border:solid 1px;
    border-radius: 20px;

    padding-top: 10px;
    padding-bottom: 10px;

}

hr{
color: gold;
    
}


/* button{

    color: black;
    font-style:oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:900;
    height: 30px;
    width: 60px;

} */


input{
    margin-bottom: 30px;
    color: black;
    font-style:oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:800;
    height: 50px;
    width: 292px;
}

.heading{
    display: flex;
    justify-content: center;
}

h1{
    margin-bottom: 90px;
    text-align:  center;
    width: 300px;
    border-bottom:solid 1px rgb(0, 0, 0);
    color: rgb(54, 136, 54);
    font-weight: 900;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
